@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
.navbar{
  font-family: 'Lato', sans-serif;
}
.navbar-default{
    background-color: white;
    height: 8rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
}
.navbar .navbar-brand{
    color: #062863;
}
.navbar .navbar-brand img{
    width: 2rem;
    display: inline;
}

.navbar-default .navbar-nav>li>a {
    color: #062863;
}

.navbar-default .navbar-nav>li:last-child {
    border: solid 1px #062863;
    border-radius: 6px;
    margin-top: 0.5rem;
}

.navbar-default .navbar-nav>li:last-child a{
    padding: 1rem;
    width: 15rem;
    text-align: center;
}
    .navbar-toggle {
        border: solid red 2px;
        background: transparent !important;
      }
      .navbar-toggle:hover {
        background: transparent !important;
      }
      .navbar-toggle .icon-bar {
        width: 22px;
        transition: all 0.2s;
      }
      .navbar-toggle .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }
      .navbar-toggle .middle-bar {
        opacity: 0;
      }
      .navbar-toggle .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
      .navbar-toggle.collapsed .top-bar {
        transform: rotate(0);
      }
      .navbar-toggle.collapsed .middle-bar {
        opacity: 1;
      }
      .navbar-toggle.collapsed .bottom-bar {
        transform: rotate(0);
      }

      /* Main section */

      
      h1{
        color: #144499;
      }

      .select{
        border: 1px solid #144499;
        border-radius: 8px;
        padding: 1rem ;
        width: 70%;
        margin-bottom: 3rem;
      }

      .form-field{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-top: 5rem;
      }

      option{
        padding: 1.3rem 0;
      }

      select,
      option,
      input{
        color: #144499;;
        font-weight: bold;
      }

      .form-field input{
        border: 0;
        width: 70%;
        border-bottom: 1px solid #989494;;
        padding: .75rem;
        margin-bottom: 2rem;
      }

      .form-field label{
        margin: 1rem 0;
      }

      .calculate{
        border: 0;
        width: 50%;
        margin-top: 1.2rem;
        padding: 1rem;
        color: #fff;
        background-color: #5AC263;
        border-radius: 6px ;
      }

      .calculate:hover{
        background-color: #25993f;
      }

      .container-2{
        background-color: #144499;
        color: #fff;
        padding: 1.5rem;
        box-shadow: 2px 8px 20px rgba(44, 37, 37, 0.2);
        border-radius: 15px;
        text-align: center;
        margin: 2rem 1rem;
      }

      #amount_saved{
        font-weight: 600;
        font-size: 18px;
      }

      .container-2 p{
        font-size: 15px;
      }
      .naira{
        text-decoration: line-through;
      }

      .center_attr{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin-left: 1rem;
        grid-gap: 15px;
        padding: 2.5rem;
      }

@media only screen and (max-width: 767px) {
    .navbar-default 
    .navbar-toggle{
        border: none;
        color: #062863;
    }
    .navbar-default .navbar-nav>li>a {
        color: white;
        padding-left: 3rem;
        font-size: 1.8rem;
    }
    #slide-navbar-collapse {
      position: fixed;
      top: 0;
      left: 15px;
      z-index: 99;
      width: 280px;
      height: 100%;
      background-color: #062863;
      color: white;
      overflow: auto;
    }
    button.navbar-toggle.collapsed{
        color: #062863;
    }
    .navbar-default 
    .navbar-toggle:focus, 
    .navbar-default 
    .navbar-toggle:hover {
        background-color: white;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #062863;
    }
    .navbar-default .navbar-nav>li:last-child {
        border: none;
    }
    
    .navbar-default .navbar-nav>li:last-child a{
        padding: 1rem;
        padding-left: 3rem;
        width: 15rem;
        width: 100%;
        text-align: unset;
    }
    navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        color: #808080
    }

    .menu-overlay {
      display: none;
      background-color: #000;
      bottom: 0;
      left: 0;
      opacity: 0.5;
      filter: alpha(opacity=50);
      /* IE7 & 8 */
      position: fixed;
      right: 0;
      top: 0;
      z-index: 49;
    }

    .form-field{
      width: 100%;
    }
    
  }

  @media(min-width: 1000px){
    #main{
      display: flex;
    }
    .container{
      width: 55%;
    }
    .container-2{
      width: 35%;
    }
  }